---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---
<style>
  .blogbreadcrumbs {
    display: none;
  }
</style>
<header class="pageparallax">
  <div class="container page-header">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">Equine <span style="color: #4caf50">Blog</span></h1>
      </div>
    </div>
  </div>
</header>
<div class="container my-3">
  <div class="row">
    <div class="col-lg-12">
      <a href="/" class="black-text" style="text-decoration:underline;">Home</a> > <a href="/blog/" class="black-text" style="text-decoration:underline;">Blog Index</a> > Tags
    </div>
  </div>
</div>
<h3 class="text-center my-3"><span class="font-weight-bold">Viewing posts tagged with:</span> {{ tag }}</h3>
{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}






