---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---
<header class="pageparallax">
  <div class="container page-header">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">Equine <span style="color: #4caf50">Blog</span></h1>
      </div>
    </div>
  </div>
</header>
<div class="container my-3">
  <div class="row">
    <div class="col-lg-12">
      <a href="/" class="black-text">Home</a> > <a href="/blog/" class="black-text">Blog Index</a> > {{ title }}
    </div>
  </div>
</div>
<h1>Tagged “{{ tag }}”</h1>
{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}






