html {
	scroll-behavior: smooth;
}
.parallax {
	height: 110vh;
	background-image: url('lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	background-blend-mode: overlay;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.letter-spacing-5 {
	letter-spacing: 5px;
}

.letter-spacing-10 {
	letter-spacing: 10px;
}

.hero-header {
	font-family: 'Great Vibes', cursive;
	letter-spacing: 5px;
	text-transform: none;
	color: #fff;
}

.top-nav-collapse {                                   /* Is concatenated onto .scrolling-navbar on scroll? Idk, it works tho. */
	background-color: #1b5e20 !important;
}

.navbar:not(.top-nav-collapse) {
	background: transparent !important;
	box-shadow: none;
}

@media (max-width: 991px) {
	.navbar:not(.top-nav-collapse) {
		background: #1b5e20 !important;
	}
}

.wow {
	visbility: hidden;
}