html {
    scroll-behavior: smooth;
}
.parallax {
    height: 110vh;
    background-image: url('/static/img/lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pageparallax {
    background-image: url('/static/img/lbepagebanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-header {
    width: 100vw;
    height: 600px;
}

.greatvibes {
    font-family: 'Great Vibes', cursive;
}

.subheadingsize {
    font-size: 5rem;
    margin: 100px 0 50px 0;
}

.top-nav-collapse {                                   /* Is concatenated onto .scrolling-navbar on scroll? Idk, it works tho. */
    background-color: #1b5e20 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
    box-shadow: none;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #1b5e20 !important;
    }
}

.wow {
    visbility: hidden;
}

.cardbg1 {
    background-image: url('/static/img/card1.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardbg1:hover {
    background-image: url('/static/img/card1.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
}

.cardbg2 {
    background-image: url('/static/img/card2.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardbg2:hover {
    background-image: url('/static/img/card2.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
}

.cardbg3 {
    background-image: url('/static/img/card3.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardbg3:hover {
    background-image: url('/static/img/card3.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
}

.transbg {
    background-image: url('/static/img/lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.module {
    margin: 0;
    overflow: hidden;
}

.overflow {
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}

.overflow::before {
    position: absolute;
    content: "...";
    /*   inset-block-end: 0;
      inset-inline-end: 0; */
    bottom: 0;
    right: 0;
}
.overflow::after {
    content: "";
    position: absolute;
    /*   inset-inline-end: 0; */
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.responsive-header {
    font-size: 250%
}

.responsive-icon {
    width: 45px;
    height: 40px;
}

@media (min-width: 576px) {
    .responsive-header {
        font-size: 300%
    }
}

@media (min-width: 768px) {
    .responsive-header {
        font-size: 450%
    }

    .parallax {
        background-attachment: fixed;
    }

    .responsive-icon {
        width: 130px;
        height: 116px;
    }
}

@media (min-width: 992px) {
    .responsive-header {
        font-size: 600%
    }

    .parallax {
        background-attachment: fixed;
    }

    .responsive-icon {
        width: 130px;
        height: 116px;
    }
}

@media (min-width: 1200px) {
    .responsive-header {
        font-size: 700%;
    }

    .parallax {
        background-attachment: fixed;
    }

    .responsive-icon {
        width: 130px;
        height: 116px;
    }
}


