html {
    scroll-behavior: smooth;
}
.parallax {
    height: 110vh;
    background-image: url('/static/img/lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pageparallax {
    background-image: url('/static/img/lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-header {
    width: 100vw;
    height: 600px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.greatvibes {
    font-family: 'Great Vibes', cursive;
}

.letter-spacing-5 {
    letter-spacing: 5px;
}

.letter-spacing-10 {
    letter-spacing: 10px;
}

.subheadingsize {
    font-size: 5rem;
    margin: 200px 0 100px 0;
}

.font-size-2 {
    font-size: 2rem;
}

.hero-header {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 5px;
    text-transform: none;
    color: #fff;
}

.top-nav-collapse {                                   /* Is concatenated onto .scrolling-navbar on scroll? Idk, it works tho. */
    background-color: #1b5e20 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
    box-shadow: none;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #1b5e20 !important;
    }
}

.wow {
    visbility: hidden;
}

.cardbg1 {
    background-image: url('/static/img/card1.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardbg1:hover {
    background-image: url('/static/img/card1.png'), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
    background-blend-mode: overlay;
}

.cardbg2 {
    background-image: url('/static/img/card2.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardbg2:hover {
    background-image: url('/static/img/card2.png'), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
    background-blend-mode: overlay;
}

.cardbg3 {
    background-image: url('/static/img/card3.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardbg3:hover {
    background-image: url('/static/img/card3.png'), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
    background-blend-mode: overlay;
}

.transbg {
    background-image: url('/static/img/lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.responsive-header {
    font-size: 200%
}

.responsive-subheader {
    font-size: 80%;
}

@media (min-width: 576px) {
    .responsive-header {
        font-size: 300%
    }

    .responsive-subheader {
        font-size: 125%;
    }

@media (min-width: 768px) {
    .responsive-header {
        font-size: 450%
    }

    .responsive-subheader {
        font-size: 150%;
    }

@media (min-width: 992px) {
    .responsive-header {
        font-size: 600%
    }

    .responsive-subheader {
        font-size: 170%;
    }

@media (min-width: 1200px) {
    .responsive-header {
        font-size: 700%
    }

    .responsive-subheader {
        font-size: 200%;
    }


