---
layout: layouts/base.njk
section: about
permalink: /about/index.html
---
<style>
    .four-rem {
        font-size: 4rem;
    }
</style>
<header class="pageparallax">
    <div class="container page-header">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">About <span style="color: #4caf50">Me</span></h1>
            </div>
        </div>
    </div>
</header>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-12">
            <a href="/" class="black-text" style="text-decoration: underline;">Home</a> > About
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="responsive-header four-rem font-weight-bold">Hi, my name is Leanne Brown.</h1>
            <h1 class="responsive-header four-rem font-weight-bold">I'm an <span class="green-text">Equine Trainer & Coach</span></h1>
            <h1 class="responsive-header four-rem font-weight-bold">with 14 years of experience</h1>
            <h1 class="responsive-header four-rem font-weight-bold">in the equine industry.</h1>
        </div>
    </div>
</div>



