---
layout: layouts/base.njk
section: about
permalink: /about/index.html
---

<h1>{{ title }}</h1>

<style>
    .navbar:not(.top-nav-collapse) {
        background: #1b5e20 !important;
    }
</style>

{{ layoutContent | safe }}