---
layout: layouts/base.njk
section: about
permalink: /about/index.html
---
<header class="pageparallax">
    <div class="container page-header">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">About <span style="color: #4caf50">Me</span></h1>
            </div>
        </div>
    </div>
</header>
<div class="container" style="margin-top:-100px;">
    <div class="row">
        <div class="col-lg-12 p-xl-5 p-lg-5 p-md-3 p-sm-3 p-3 mx-xl-0 mx-lg-0 mx-md-3 mx-sm-3 mx-3 white rounded z-depth-3">
            {{ layoutContent | safe }}
        </div>
    </div>
</div>

