<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
			<div class="container">
				<a class="navbar-brand py-3" href="/"><img src="/static/img/lbelogowhite.png" class="img-fluid"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
						aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Collapsible content -->
				<div class="collapse navbar-collapse" id="basicExampleNav">
					<!-- Links -->
					{% set navPages = collections.all | eleventyNavigation %}
					<ul class="navbar-nav ml-auto">
						{%- for entry in navPages %}
						<li class="nav-item ml-3">
							<a href="{{ entry.url | url }}" class="nav-link text-uppercase small font-weight-bold" {% if entry.url == page.url %} data-current="current item" {% endif %}>{{ entry.title }} <span class="sr-only">(current)</span></a>
						</li>
						{%- endfor %}
					</ul>
					<!-- Links -->
				</div>
				<!-- Collapsible content -->
			</div>
		</nav>
		<!--/.Navbar-->
		<main>
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
	</body>
</html>
