<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<style>
		html {
			scroll-behavior: smooth;
		}
		.parallax {
			height: 110vh;
			background-image: url('/static/img/lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
			background-blend-mode: overlay;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.montserrat {
			font-family: 'Montserrat', sans-serif;
		}

		.greatvibes {
			font-family: 'Great Vibes', cursive;
		}

		.letter-spacing-5 {
			letter-spacing: 5px;
		}

		.letter-spacing-10 {
			letter-spacing: 10px;
		}

		.subheadingsize {
			font-size: 5rem;
			margin: 200px 0 100px 0;
		}

		.font-size-2 {
			font-size: 2rem;
		}

		.hero-header {
			font-family: 'Great Vibes', cursive;
			letter-spacing: 5px;
			text-transform: none;
			color: #fff;
		}

		.top-nav-collapse {                                   /* Is concatenated onto .scrolling-navbar on scroll? Idk, it works tho. */
			background-color: #1b5e20 !important;
		}

		.navbar:not(.top-nav-collapse) {
			background: transparent !important;
			box-shadow: none;
		}

		@media (max-width: 991px) {
			.navbar:not(.top-nav-collapse) {
				background: #1b5e20 !important;
			}
		}

		.wow {
			visbility: hidden;
		}

		.cardbg1 {
			background-image: url('/static/img/card1.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
			background-blend-mode: overlay;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.cardbg1:hover {
			background-image: url('/static/img/card1.png'), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
			background-blend-mode: overlay;
		}

		.cardbg2 {
			background-image: url('/static/img/card2.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
			background-blend-mode: overlay;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.cardbg2:hover {
			background-image: url('/static/img/card2.png'), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
			background-blend-mode: overlay;
		}

		.cardbg3 {
			background-image: url('/static/img/card3.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
			background-blend-mode: overlay;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.cardbg3:hover {
			background-image: url('/static/img/card3.png'), linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
			background-blend-mode: overlay;
		}

		.transbg {
			background-image: url('/static/img/lbebackground.png'), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
			background-blend-mode: overlay;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}


	</style>

	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
			<div class="container">
				<a class="navbar-brand py-3" href="index.html" style="font-family: 'Great Vibes';">LBE</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
						aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Collapsible content -->
				<div class="collapse navbar-collapse" id="basicExampleNav">
					<!-- Links -->
					{% set navPages = collections.all | eleventyNavigation %}
					<ul class="navbar-nav ml-auto">
						{%- for entry in navPages %}
						<li class="nav-tem ml-3">
							<a href="{{ entry.url | url }}" class="nav-link montserrat small font-weight-bold" {% if entry.url == page.url %} data-current="current item" {% endif %}>{{ entry.title }}</a>
						</li>
						{%- endfor %}
					</ul>
					<!-- Links -->
				</div>
				<!-- Collapsible content -->
			</div>
		</nav>
		<!--/.Navbar-->


		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
