---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<header class="pageparallax">
    <div class="container page-header">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">Equine <span style="color: #4caf50">Blog</span></h1>
            </div>
        </div>
    </div>
</header>

{{ layoutContent | safe }}
{% set postslist = collections.post %}
{% include "components/postslist.njk" %}



<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-8 border">
            test
        </div>
    </div>
</div>
