---
layout: layouts/base.njk
section: home
---
<!-- Parallax header -->
<header class="parallax bg">
    <div class="container h-100">
        <div class="row align-items-center" style="height: 90vh;">
            <div class="col-12 text-center">
                <h1 class="h1-responsive hero-header wow fadeIn" data-wow-duration="5s" style="font-size:7rem;">Leanne Brown <span style="color: #4caf50">Eventing</span></h1>
                <h1 class="lead text-white montserrat font-weight-bold letter-spacing-10 my-3 wow fadeInUp">Equestrian | Freelance Trainer and Coach</h1>
            </div>
        </div>
        <div class="row align-items-center" style="height: 10vh;">
            <div class="col-12 text-center text-white">
                <a id="TOP" href="#TOP"><i class="fas fa-4x fa-arrow-alt-circle-down green-text wow bounce" data-wow-iteration="5"></i></a>
            </div>
        </div>
    </div>
</header>
<!-- Parallax header end -->
<!-- ABOUT ME -->
<section class="container p-5 white rounded z-depth-3 wow fadeInUp" style="margin-top: -50px;">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ image1 }}" width="100%">
        </div>
        <div class="col-md-6 d-flex flex-column">
            <h1 class="h1-responsive mb-5 montserrat letter-spacing-5 font-weight-bolder">About</h1>
            {{ layoutContent | safe }}
        </div>
    </div>
<!-- ABOUT ME END -->
<!-- SERVICES -->
    <div class="row">
        <div class="col-12">
            <h1 class="h1-responsive text-center font-weight-bolder montserrat letter-spacing-5 my-5">Freelance Services</h1>
            <div class="row">
                <div class="d-flex flex-xl-row flex-lg-row flex-md-row flex-sm-column flex-column">
                    <div class="flex-1 px-5 text-center">
                        <i class="fas fa-4x fa-brain green-text"></i>
                        <h4 class="my-3 font-weight-bold">Training</h4>
                        <p>Lorem ipsuom motherfucking upsome of a lorem and then another loum for that mothafucka.</p>
                    </div>
                    <div class="flex-1 px-5 text-center">
                        <i class="fas fa-4x fa-trophy green-text"></i>
                        <h4 class="my-3 font-weight-bold">Eventing</h4>
                        <p>Lorem ipsuom motherfucking upsome of a lorem and then another loum for that mothafucka.</p>
                    </div>
                    <div class="flex-1 px-5 text-center">
                        <i class="fas fa-4x fa-cut green-text"></i>
                        <h4 class="my-3 font-weight-bold">Grooming</h4>
                        <p>Lorem ipsuom motherfucking upsome of a lorem and then another loum for that mothafucka.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-5">
        <button class="btn btn-green">Read More</button>
    </div>
<!-- SERVICES END -->
<!-- TESTIMONIALS -->
    <div class="row">
        <div class="col-12">
            <h1 class="h1-responsive text-center font-weight-bolder montserrat letter-spacing-5 my-5">Testimonials</h1>
            <div id="testimonialcarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="20000">
                        <div class="card container w-100">
                            <div class="row">
                                <div class="green darken-4 d-flex darker-1 p-4 w-100 align-items-center">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle" style="margin-top:-100px;" />
                                    <div class="card-title my-5"><h3>Combat Wombat</h3></div>
                                    <div class="font-italic my-5">Leanne literally saved my life. I almost fell down and she came out of nowhere like "nooooooo!" and saved me. Highly recommend.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                        <div class="card container w-100">
                            <div class="row">
                                <div class="green darken-4 d-flex darker-1 p-4 w-100 align-items-center">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle" style="margin-top:-100px;" />
                                    <div class="card-title my-5"><h3>John Smith</h3></div>
                                    <div class="font-italic my-5">Leanne literally saved my life. I almost fell down and she came out of nowhere like "nooooooo!" and saved me. Highly recommend.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                        <div class="card container w-100">
                            <div class="row">
                                <div class="green darken-4 d-flex darker-1 p-4 w-100 align-items-center">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle" style="margin-top:-100px;" />
                                    <div class="card-title my-5"><h3>Bill John</h3></div>
                                    <div class="font-italic my-5">Leanne literally saved my life. I almost fell down and she came out of nowhere like "nooooooo!" and saved me. Highly recommend.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- TESTIMONIALS END -->
<!-- CONTACT FORM -->
    <div class="row mt-5 py-5">
        <div class="col-md-8">
            <form id="contactform" name="contactform" method="POST" data-netlify="true">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="firstname" name="FirstName" class="form-control">
                            <label for="firstname">First Name</label>
                            <small class="firstnamestatus red-text"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="lastname" name="LastName" class="form-control">
                            <label for="lastname">Last Name</label>
                            <small class="lastnamestatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email" name="Email" class="form-control">
                            <label for="email">Email Address</label>
                            <small id="emailmessage" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email2" name="Email2" class="form-control">
                            <label for="email2">Re-Enter Email Address</label>
                            <small class="nomatch emailstatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="subject" name="Subject" class="form-control">
                            <label for="subject">Subject</label>
                            <small class="subjectstatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="Message" rows="10" class="form-control md-textarea"></textarea>
                            <label for="message">Message</label>
                            <small class="messagestatus red-text"></small>
                        </div>
                    </div>
                </div>
            </form>
            <a type="submit" class="btn btn-green" onclick="validateForm();">Send</a>
        </div>
        <div class="col-md-4 green darken-4 pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fas fa-4x fa-envelope text-white"></i>
                        <hr class="my-4 white">
                        <p class="font-italic text-white" style="font-size:35px;">
                            Are you in need of an experienced trainer? I am currently accepting new clients in the greater Orlando area.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT FORM END -->
