---
layout: layouts/base.njk
section: home
---
<!-- Parallax header -->
<header class="parallax bg">
    <div class="container h-100">
        <div class="row align-items-center" style="height: 90vh;">
            <div class="col-12 text-center">
                <h1 class="responsive-header hero-header wow fadeIn" data-wow-duration="5s">Leanne Brown <span style="color: #4caf50">Eventing</span></h1>
                <h5 class="responsive-subheader lead text-white montserrat font-weight-bold my-3 wow fadeInUp">EQUESTRIAN TRAINER AND COACH</h5>
            </div>
        </div>
        <div class="row align-items-center" style="height: 10vh;">
            <div class="col-12 text-center text-white">
                <a id="TOP" href="#TOP"><i class="fas fa-4x fa-arrow-alt-circle-down green-text wow bounce" data-wow-iteration="5"></i></a>
            </div>
        </div>
    </div>
</header>
<!-- Parallax header end -->
<!-- ABOUT ME -->
<section class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive text-center font-weight-bolder greatvibes mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5" style="font-size: 5rem;margin-bottom:100px;">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 wow fadeInLeft">
            <img src="{{ image1 }}" width="100%" class="z-depth-5">
        </div>
        <div class="col-md-6 d-flex align-items-center mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5 wow fadeInRight">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 m-3">
                        <h1 class="h1-responsive font-weight-bold green-text">About Me</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 m-3">
                        {{ layoutContent | safe }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 m-3">
                        <button type="button" class="btn btn-dark-green" href="about.html">More Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT ME END -->
<!-- SERVICES -->
<section class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive subheadingsize text-center font-weight-bolder greatvibes">Freelance Services</h1>
        </div>
    </div>
    <div class="row">
        <a href="services.html#training" class="col-md-4 cardbg1 font-weight-bold text-white d-flex align-items-center justify-content-center z-depth-5 wow fadeInLeft" style="width:400px;height:300px;">TRAINING</a>
        <a href="services.html#coaching" class="col-md-4 cardbg2 font-weight-bold border-white border-left border-right text-white d-flex align-items-center justify-content-center z-depth-5 wow fadeInUp" style="width:400px;height:300px;">COACHING</a>
        <a href="services.html#breaking" class="col-md-4 cardbg3 font-weight-bold text-white d-flex align-items-center justify-content-center z-depth-5 wow fadeInRight" style="width:400px;height:300px;">BREAKING</a>
    </div>
</section>
<!-- SERVICES END -->
<!-- TESTIMONIALS -->
<section class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive subheadingsize text-center font-weight-bolder greatvibes">Testimonials</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="testimonialcarousel" class="carousel slide wow fadeIn" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <div class="card container w-100">
                            <div class="row">
                                <div class="green darken-4 d-flex p-4 w-100 align-items-center z-depth-3">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle z-depth-5" style="margin-top:-100px;" />
                                    <div class="card-title my-5"><h3>Jayne Whiteman</h3></div>
                                    <div class="font-italic mt-5" style="height:150px;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Maecenas quis mauris porttitor, facilisis ipsum quis, auctor erat. Aliquam
                                        pharetra dolor ac elementum suscipit. Etiam turpis ipsum, pulvinar quis felis in,
                                        mollis vestibulum neque. Vestibulum luctus erat et dui mollis, ac dictum ex placerat.
                                        Pellentesque elementum odio justo, sed hendrerit nulla venenatis vel.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="card container w-100">
                            <div class="row">
                                <div class="green darken-4 d-flex darker-1 p-4 w-100 align-items-center z-depth-3">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle z-depth-5" style="margin-top:-100px;" />
                                    <div class="card-title my-5"><h3>Haley Costigan</h3></div>
                                    <div class="font-italic mt-5" style="height:150px;">
                                        Cras a ipsum varius, euismod nibh ac, mattis elit. Orci varius natoque penatibus
                                        et magnis dis parturient montes, nascetur ridiculus mus. Sed dapibus pulvinar quam
                                        at condimentum. Praesent semper viverra ligula, rhoncus luctus turpis dignissim gravida.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="card container w-100">
                            <div class="row">
                                <div class="green darken-4 d-flex darker-1 p-4 w-100 align-items-center z-depth-3">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle z-depth-5" style="margin-top:-100px;" />
                                    <div class="card-title my-5"><h3>Rosie McDowen</h3></div>
                                    <div class="font-italic mt-5" style="height:150px;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis mauris porttitor,
                                        facilisis ipsum quis, auctor erat. Aliquam pharetra dolor ac elementum suscipit. Etiam
                                        turpis ipsum, pulvinar quis felis in, mollis vestibulum neque. Vestibulum luctus erat
                                        et dui mollis, ac dictum ex placerat. Pellentesque elementum odio justo, sed hendrerit
                                        nulla venenatis vel. Donec fringilla ipsum non mauris tristique, et commodo nulla porta.
                                        Nunc et facilisis ex. Quisque at nisl turpis.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIALS END -->
<!-- CONTACT FORM -->
<section class="transbg">
<div class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2  mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive text-center font-weight-bolder greatvibes white-text" style="font-size:5rem;margin:100px 0 100px 0;">Get in touch</h1>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-8 wow fadeInLeft">
            <form id="contactform" name="contactform" method="POST" data-netlify="true">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="firstname" name="FirstName" class="form-control">
                            <label for="firstname" class="white-text">First Name</label>
                            <small class="firstnamestatus red-text"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="lastname" name="LastName" class="form-control">
                            <label for="lastname" class="white-text">Last Name</label>
                            <small class="lastnamestatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email" name="Email" class="form-control">
                            <label for="email" class="white-text">Email Address</label>
                            <small id="emailmessage" class="form-text text-muted white-text">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email2" name="Email2" class="form-control">
                            <label for="email2" class="white-text">Re-Enter Email Address</label>
                            <small class="nomatch emailstatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="subject" name="Subject" class="form-control">
                            <label for="subject" class="white-text">Subject</label>
                            <small class="subjectstatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="Message" rows="10" class="form-control md-textarea"></textarea>
                            <label for="message" class="white-text">Message</label>
                            <small class="messagestatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-green" onclick="validateForm();">Send</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-4 green darken-4 pt-3 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5 wow fadeInRight">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fas fa-4x fa-envelope text-white"></i>
                        <hr class="my-4 white">
                        <p class="font-italic text-white" style="font-size:35px;">
                            Are you in need of an experienced trainer? I am currently accepting new clients in the greater Orlando area.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- CONTACT FORM END -->
