---
layout: layouts/base.njk
section: home
---
<!-- Parallax header -->
<header class="parallax bg">
    <div class="container h-100">
        <div class="row align-items-center" style="height: 90vh;">
            <div class="col-12 text-center">
                <h1 class="responsive-header greatvibes white-text wow fadeIn" data-wow-duration="5s">Leanne Brown <span style="color: #4caf50">Eventing</span></h1>
                <h3 class="h3-responsive lead text-white font-weight-bold my-3 wow fadeInUp">EQUESTRIAN TRAINER AND COACH</h3>
            </div>
        </div>
        <div class="row align-items-center" style="height: 10vh;">
            <div class="col-12 text-center text-white">
                <a id="TOP" href="#TOP"><i class="fas fa-4x fa-arrow-alt-circle-down green-text wow bounce" data-wow-iteration="5"></i></a>
            </div>
        </div>
    </div>
</header>
<!-- Parallax header end -->
<!-- ABOUT ME -->
<section class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2 wow fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="h1-responsive text-center font-weight-bolder greatvibes mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5" style="font-size: 5rem;margin-bottom:50px;">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid z-depth-3 rounded mx-xl-0 mx-lg-0 mx-md-3 mx-sm-3 mx-3">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <img src="{{ image1 }}" width="100%" class="rounded">
                </div>
                <div class="col-lg-6 d-flex align-items-center mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 m-xl-3 m-lg-3 m-md-1 m-sm-1 m-1">
                                <h3 class="h3-responsive text-uppercase font-weight-bold green-text">ABOUT ME</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 m-xl-3 m-lg-3 m-md-1 m-sm-1 m-1">
                                {{ layoutContent | safe }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 m-xl-3 m-lg-3 m-md-1 m-sm-1 m-1">
                                <button type="button" class="btn btn-dark-green" href="about.html">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT ME END -->
<!-- SERVICES -->
<section class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2 wow fadeInUp">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive subheadingsize text-center font-weight-bolder greatvibes">Services</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center white rounded z-depth-3 p-1 mx-xl-0 mx-lg-0 mx-md-3 mx-sm-3 mx-3">
        <a href="services.html#training" class="col-md-4 flex-wrap cardbg1 font-weight-bold text-white border border-white d-flex align-items-center justify-content-center" style="height:300px;">TRAINING</a>
        <a href="services.html#coaching" class="col-md-4 flex-wrap cardbg2 font-weight-bold text-white border border-white d-flex align-items-center justify-content-center" style="height:300px;">COACHING</a>
        <a href="services.html#breaking" class="col-md-4 flex-wrap cardbg3 font-weight-bold text-white border border-white d-flex align-items-center justify-content-center" style="height:300px;">BREAKING</a>
    </div>
</section>
<!-- SERVICES END -->
<!-- TESTIMONIALS -->
<section class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2 wow fadeInUp">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive subheadingsize text-center font-weight-bolder greatvibes">Testimonials</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="testimonialcarousel" class="carousel slide z-depth-3 rounded" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 green darken-4 d-flex p-4 align-items-center rounded-top">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle z-depth-3" style="margin-top:-100px;" />
                                    <div class="my-5"><h3>Jayne Whiteman</h3></div>
                                    <div class="font-italic mt-5" style="height:150px;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Maecenas quis mauris porttitor, facilisis ipsum quis, auctor erat. Aliquam
                                        pharetra dolor ac elementum suscipit. Etiam turpis ipsum, pulvinar quis felis in,
                                        mollis vestibulum neque. Vestibulum luctus erat et dui mollis, ac dictum ex placerat.
                                        Pellentesque elementum odio justo, sed hendrerit nulla venenatis velx.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 green darken-4 d-flex p-4 align-items-center rounded-top">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle z-depth-3" style="margin-top:-100px;" />
                                    <div class="my-5"><h3>Jayne Whiteman</h3></div>
                                    <div class="font-italic mt-5" style="height:150px;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Maecenas quis mauris porttitor, facilisis ipsum quis, auctor erat. Aliquam
                                        pharetra dolor ac elementum suscipit. Etiam turpis ipsum, pulvinar quis felis in,
                                        mollis vestibulum neque. Vestibulum luctus erat et dui mollis, ac dictum ex placerat.
                                        Pellentesque elementum odio justo, sed hendrerit nulla venenatis vel.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 green darken-4 d-flex p-4 align-items-center rounded-top">
                                    <i class="fas fa-4x fa-quote-left text-white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="/static/img/upclose.png" width="150px" class="img-fluid rounded-circle z-depth-3" style="margin-top:-100px;" />
                                    <div class="my-5"><h3>Jayne Whiteman</h3></div>
                                    <div class="font-italic mt-5" style="height:150px;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Maecenas quis mauris porttitor, facilisis ipsum quis, auctor erat. Aliquam
                                        pharetra dolor ac elementum suscipit. Etiam turpis ipsum, pulvinar quis felis in,
                                        mollis vestibulum neque. Vestibulum luctus erat et dui mollis, ac dictum ex placerat.
                                        Pellentesque elementum odio justo, sed hendrerit nulla venenatis vel.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIALS END -->
<!-- CONTACT FORM -->
<section class="container p-xl-5 p-lg-5 p-md-2 p-sm-2 p-2 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5 wow fadeInUp">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1-responsive text-center font-weight-bolder greatvibes" style="font-size:5rem;margin:50px 0 50px 0;">Get in Touch</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-4 mx-xl-0 mx-lg-0 mx-md-3 mx-sm-3 mx-3 green darken-4 rounded-top">
            <i class="fas fa-4x fa-envelope text-white"></i>
            <h5 class="h5-responsive white-text mt-3">
                Are you in need of an experienced trainer? I am currently accepting new clients in the greater Orlando area.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-4 mx-xl-0 mx-lg-0 mx-md-3 mx-sm-3 mx-3 white z-depth-3 rounded-bottom">
            <form id="contactform" name="contactform" method="POST" data-netlify="true">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="firstname" name="FirstName" class="form-control">
                            <label for="firstname">First Name</label>
                            <small class="firstnamestatus red-text"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="lastname" name="LastName" class="form-control">
                            <label for="lastname">Last Name</label>
                            <small class="lastnamestatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email" name="Email" class="form-control">
                            <label for="email">Email Address</label>
                            <small id="emailmessage" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email2" name="Email2" class="form-control">
                            <label for="email2">Re-Enter Email Address</label>
                            <small class="nomatch emailstatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="subject" name="Subject" class="form-control">
                            <label for="subject">Subject</label>
                            <small class="subjectstatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="Message" rows="10" class="form-control md-textarea"></textarea>
                            <label for="message">Message</label>
                            <small class="messagestatus red-text"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-green" onclick="validateForm();">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- CONTACT FORM END -->
