---
layout: layouts/base.njk
section: post
---
<style>
  a {
    color: #fff;
    text-decoration: underline;
  }
</style>
<header class="pageparallax">
  <div class="container page-header">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">Equine <span style="color: #4caf50">Blog</span></h1>
      </div>
    </div>
  </div>
</header>
<div class="container" style="margin-top:-100px;">
  <div class="row">
    <div class="col-lg-12 green darken-2 rounded-top p-3 mx-xl-0 mx-lg-0 mx-md-3 mx-sm-3 mx-3">
      <a href="/home/" class="black-text">Home</a>  ->  <a href="/blog/" class="black-text">Blog Index</a>  ->  {{ title }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 p-3 mx-xl-0 mx-lg-0 mx-md-3 mx-sm-3 mx-3 white rounded-bottom z-depth-3">
      <h1 class="text-center">{{ title }}</h1>
      <p>
        <small>
          <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
        </small>
      </p>

      {{ layoutContent | safe }}

      {% if tags %}
      <p>
        {% for tag in tags %}
        {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
</div>




