---
layout: layouts/base.njk
section: post
---
<style>
  .col-lg-12 a {
    color: #000;
    text-decoration: underline;
  }

  img {
    max-width: 300px;
  }
</style>
<header class="pageparallax">
  <div class="container page-header">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">Equine <span style="color: #4caf50">Blog</span></h1>
      </div>
    </div>
  </div>
</header>

<div class="container my-3">
  <div class="row">
    <div class="col-lg-12">
      <a href="/" class="black-text">Home</a> > <a href="/blog/" class="black-text">Blog Index</a> > {{ title }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 green darken-4 rounded-top p-3 mx-xl-0 mx-lg-0 mx-md-2 mx-sm-2 mx-2">
      <h1 class="text-center white-text">{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 p-3 mx-xl-0 mx-lg-0 mx-md-2 mx-sm-2 mx-2 white rounded-bottom z-depth-3">

      <p>
        <small>
          <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
        </small>
      </p>

      {{ layoutContent | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 p-2 green darken-4 d-flex justify-content-start rounded-bottom">
      {% if tags %}
      {% for tag in tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <div class="p-1 green darken-2 rounded-pill px-3 m-1" style="height: 35px;">
        <a href="{{ tagUrl | url }}" rel="tag" class="white-text" style="text-decoration: none;">{{ tag }}</a>
      </div>
      {%- endif -%}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>







