---
layout: layouts/base.njk
section: services
permalink: /services/index.html
---


<h1 class="text-center mb-5" style="margin-top: 200px;">{{ title }}</h1>

<style>
    .navbar:not(.top-nav-collapse) {
        background: #1b5e20 !important;
    }
</style>

<div class="container white z-depth-3 p-5 rounded">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><img src="{{ menuitem1.image }}" width="100%;"></div>
                    <div class="col-md-6">{{ menuitem1.body }}</div>
                </div>
            </div>




        </div>
    </div>
</div>
