---
layout: layouts/base.njk
section: services
permalink: /services/index.html
---
<style>
    .navbar:not(.top-nav-collapse) {
        background: #1b5e20 !important;
    }
</style>
<header class="pageparallax">
    <div class="container page-header">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="responsive-header hero-header wow fadeIn" data-wow-duration="5s" style="line-height:600px;">My <span style="color: #4caf50">Services</span></h1>
            </div>
        </div>
    </div>
</header>
<div class="container white z-depth-3 p-5 rounded" style="margin-top:-100px;">
    <div class="row">
        <div class="col-md-6"><img src="{{ menuitem1.image }}" width="100%;"></div>
        <div class="col-md-6">
            <h3 class="mb-5">{{ menuitem1.header }}</h3>
            <p>{{ menuitem1.body }}</p>
        </div>
    </div>
</div>
