---
layout: layouts/base.njk
section: services
permalink: /services/index.html
---
<header class="pageparallax">
    <div class="container page-header">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="responsive-header greatvibes hero-header white-text wow fadeIn" data-wow-duration="5s" style="line-height:600px;">My <span style="color: #4caf50">Services</span></h1>
            </div>
        </div>
    </div>
</header>
<div class="container my-3">
    <div class="row">
        <div class="col-lg-12">
            <a href="/" class="black-text">Home</a> > Services
        </div>
    </div>
</div>
<div class="container p-xl-0 p-lg-0 p-md-2 p-sm-2 p-2">
<div class="container-fluid white z-depth-3 rounded">
    <div class="row">
        <div class="col-lg-6 p-0">
            <img src="{{ menuitem1.image }}" width="100%;">
        </div>
        <div class="col-md-6 p-3">
            <h3 class="mb-5">{{ menuitem1.header }}</h3>
            <p>{{ menuitem1.body }}</p>
        </div>
    </div>
</div>
<div class="container-fluid white z-depth-3 rounded my-3">
    <div class="row">
        <div class="col-md-6 p-3">
            <h3 class="mb-5">{{ menuitem1.header }}</h3>
            <p>{{ menuitem1.body }}</p>
        </div>
        <div class="col-lg-6 p-0">
            <img src="{{ menuitem1.image }}" width="100%;">
        </div>
    </div>
</div>
<div class="container-fluid white z-depth-3 rounded">
    <div class="row">
        <div class="col-lg-6 p-0">
            <img src="{{ menuitem1.image }}" width="100%;">
        </div>
        <div class="col-md-6 p-3">
            <h3 class="mb-5">{{ menuitem1.header }}</h3>
            <p>{{ menuitem1.body }}</p>
        </div>
    </div>
</div>
</div>